
body{
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}
.header{
    background-color: #07FF00;
    top: 50%;
    left: 50%;
    
}
.header li{
    margin-left: auto;
    margin-right: auto;
}
li{
    display: inline;
    list-style: none;

}
.hero img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}
.img{
    position: relative;
    top: 25px; 
    /* z-index: -1;  */
    
}
.img h2{
    /* position: absolute; */
    top: 50px;
    left:50px;
    /* transform: translate(-50%, -50%); */
}
.img p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}
p{
    margin: 7px;
    color: darkred;
    margin-left: auto;
    margin-right: auto;
}
div{
    margin: auto;
}
h1{
    color: white;
} 
