
body{
    background-color: black;
    /* background-color:white; */
    /* margin-left: auto;
    margin-right: auto; */
}
.header{
    background-color: darkgreen;
    /*  */
    
}
/* *,
  *::before,
  *::after {
    box-sizing: content-box;
  } */
li{ 
    display: inline;
    list-style: none;
}
.links a{
    display: inline;
    text-decoration: none;
    color: white;
}
.links a:hover{
    background-color: green;
}
.links li{
    display: inline;
    list-style: none;
}
.intro img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 0px;
}
.intro p{
    margin-top: 25px;
    margin-left:333px;
    background-color: none;
}
.more a{
    position: absolute;
    margin-top: -152px;
    margin-left: 565px;
}
.img{
    position: relative;
    top: 25px; 
    z-index: -1; 
    
}
.img h2{
    position: absolute;
    top: 25px;
    left:270px;
    /* transform: translate(0%, -113%); */
}
.img p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: black; */
}
.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
    margin-left: 360px;
  }
p{
    margin: 23px;
    color: gold;
    margin-left: auto;
    margin-right: auto;
    /* background-color: darkgreen; */
}

h1{
    color: white;
} 

.footer{
    background-color:darkgreen;
}

@media screen and (min-width: 320px){
   .header{
    background-color: darkgreen;
    top: 50%;
    left: 50%;
   }
    .nav-list {
        margin: 0 3rem;
        margin-left: 28px;
        margin-bottom: -31px;
      }
    .links ul{
        margin-left: 90px;
        margin-top: -14px;
    }  
    .links p{
        margin-left: 66px;
    }
    .intro p{
        margin-top: 25px;
        margin-left: 91px;
        background-color: none;
    }
    .imge img{
        margin-bottom: 852px;
        width: 50%;
        border-radius: 70%;
        opacity: 0.7;
    }
    .more a{
        position: absolute;
        margin-top: -453px;
        margin-left: 95px;
    }
    .imge h2{
        position: absolute;
        top: -13px;
        left: 16px;
        bottom: 0px;
        /* transform: translate(0%, -113%); */
    }
    .btn {
        display: inline-block;
        padding: 1rem 2rem;
        border-radius: 2px;
        margin-left: 105px;
      }
    .imge p{
        position: absolute;
        top: 17%;
        left: 43%;
        transform: translate(-50%, -50%);
        background-color: black;
    }
    /* .imge a{
        margin: 0px;

    } */
    .pro h2{
        margin-top: -400px;        
        margin-bottom: 0px;
    
}
@media screen and (min-width: 375px){
   .header{
    background-color: darkgreen;
    top: 50%;
    left: 50%;
   }
    .nav-list {
        margin: 0 5rem;
        margin-bottom: -31px;
      }
    .links ul{
        margin-left: 223px;
        margin-top: -45px;
    } 
    .links p{
        margin-left: 0px;
    } 
    .intro p{
        margin-top: 25px;
        margin-left: 128px;
        background-color: none;
    }
    .imge img{
        margin-bottom: 886px;
        border-radius: 70%;
        opacity: 0.7;
    }
    .btn {
        display: inline-block;
        padding: 1rem 2rem;
        border-radius: 2px;
        margin-left: 140px;
      }
    .imge p{
        position: absolute;
        top: 19%;
        left: 43%;
        transform: translate(-50%, -50%);
        background-color: black;
        margin-left: auto;
        margin-right: auto;
        
    }
    .more a{
        position: absolute;
        margin-top: -445px;
        margin-left: 120px;
    }
    .imge h2{
        position: absolute;
        top: -23px;
        left: 38px;
    }.pro h2{
        margin-top: -400px;        
        margin-bottom: -48px;
}
@media screen and (min-width: 425px){
   .header{
    background-color: darkgreen;
    top: 50%;
    left: 50%;
   }
    .nav-list {
        margin: 0 8rem;
        margin-bottom: -31px;
      }
    .links ul{
        margin-left: 273px;
        margin-top: -45px;
    }  
    .links p{
        margin-left: 0px;
    } 
    .intro p{
        margin-top: 25px;
        margin-left:150px;
        background-color: none;
    }
    .imge img{
        margin-bottom: 881px;
        border-radius: 70%;
        opacity: 0.7;
    }
    .btn {
        display: inline-block;
        padding: 1rem 2rem;
        border-radius: 2px;
        margin-left: 160px;
      }
    .imge p{
        position: absolute;
        top: 18%;
        left: 47%;
        transform: translate(-50%, -50%);
        background-color: black;
        margin-left: auto;
        margin-right: auto;
    }
    .more a{
        position: absolute;
        margin-top: -438px;
        margin-left: 150px;
    }
    .imge h2{
        position: absolute;
        top: 13px;
        left: 55px;
    }
    .pro h2{
        margin-top: -390px;        
        margin-bottom: -45px
}
.project-title{
    margin: 0px;
   
}
@media screen and (min-width: 768px){
   .header{
    background-color: darkgreen;
    top: 50%;
    left: 50%;
   }
    .nav-list {
        margin: 9px 9rem;
      }
    .links ul{
        margin-left: 134px;
        margin-top: -26px;
    }  
    .links p{
        margin-left: 106px;
    } 
    .intro p{
        margin-top: 25px;
        margin-left: 315px;
        background-color: none;
    }
    .imge img{
        margin-bottom: 1117px;
        border-radius: 70%;
        opacity: 0.7;
    }
    .btn {
        display: inline-block;
        padding: 1rem 2rem;
        border-radius: 2px;
        margin-left: 340px;
      }
    .imge p{
        position: absolute;
        top: 40%;
        left: 52%;
        transform: translate(-50%, -50%);
        background-color: black;
        margin-left: auto;
        margin-right: auto;
    }
    .more a{
        position: absolute;
        margin-top: -152px;
        margin-left: 320px;
    }
    .imge h2{
        position: absolute;
        top: 25px;
        left: 211px;
    }
     .welcome-section > p {
        font-size: 4rem;
        font-weight: 200; 
        font-style: italic;
      }
      .pro h2{
        margin-top: -90px;        
        margin-bottom: 0px; 
}
@media screen and (min-width: 1024px){
   .header{
    background-color: darkgreen;
    top: 50%;
    left: 50%;
   }
    .nav-list {
        margin: 0 1rem;
        margin-left: 115px;
      }
    .links ul{
        margin-left: 240px;
        margin-top: -47px;
    }  
    .links p{
        margin-left: 50px;
    } 
    .intro p{
        margin-top: 25px;
        margin-left:457px;
        background-color: none;
    }
    .imge img{
        margin-bottom: 133%;
        border-radius: 70%;
        opacity: 0.7;
    }
    .btn {
        display: inline-block;
        padding: 1rem 2rem;
        border-radius: 2px;
        margin-left: 460px;
      }
    .imge p{
        position: absolute;
        top: 37%;
        left: 51%;
        transform: translate(-50%, -50%);
        background-color: green;
        margin-left: auto;
        margin-right: auto;
        
    }
    .more a{
        position: absolute;
        margin-top: -152px;
        margin-left: 535px;
    }
    .imge h2{
        position: absolute;
        top: 25px;
        left: 423px;
        /* background-color: green; */
    }
    .pro h2{
        margin-top: 0px;        
        margin-bottom: 0px;
}
@media screen and (min-width: 1440px){
   .header{
        background-color: darkgreen;
        top: 50%;
        left: 50%;
    }
    .nav-list {
        margin: 0 1rem;
        margin-left: 185px;
      }
    .links ul{
        margin-left: 318px;
        margin-top: -47px;
    }  
    .links p{
        margin-left: 115px;
    } 
    .intro p{
        margin-top: 25px;
        margin-left: 513px;
        background-color: none;
    }
    .imge img{
        margin-bottom: 1481px;
        border-radius: 70%;
        opacity: 0.7;
    }
    .btn {
        display: inline-block;
        padding: 1rem 2rem;
        border-radius: 2px;
        margin-left: 650px;
    }
    .imge p{
        position: absolute;
        top: 40%;
        left: 54%;
        transform: translate(-50%, -50%);
        background-color: green;
        margin-left: auto;
        margin-right: auto;
        
    }
    .more a{
        position: absolute;
        margin-top: -152px;
        margin-left: 565px;
    }
    .imge h2{
        position: absolute;
        top: 25px;
        left: 473px;
        /* background-color: green; */
    }
    .pro h2{
        margin-top: 0px;        
        margin-bottom: 0px;
    }
}