
body{
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}
.header{
    background-color: darkgreen;
    top: 50%;
    left: 50%;
    
}

li{
    display: inline;
    list-style: none;

}
.links a{
    display: inline;
    text-decoration: none;
    color: white;
}
.links a:hover{
    background-color: green;
}
.links li{
    display: inline;
    list-style: none;
}
.hero img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}
.intro p{
    margin-top: 25px;
    margin-left:333px;
    background-color: none;
}
.img{
    position: relative;
    top: 25px; 
    z-index: -1; 
    
}
.img h2{
    position: absolute;
    top: 25px;
    left:270px;
    /* transform: translate(0%, -113%); */
}
.img p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
}
p{
    margin: 23px;
    color: gold;
    margin-left: auto;
    margin-right: auto;
    /* background-color: darkgreen; */
}

h1{
    color: white;
} 

.footer{
    background-color:darkgreen;
}
@media screen and (min-width: 320px){
    .nav-list {
        margin: 0 3rem;
      }
    .links ul{
        margin-left: 90px;
        margin-top: -14px;
    }  
    .links p{
        margin-left: 69px;
    }
    .intro p{
        margin-top: 25px;
        margin-left: 91px;
        background-color: none;
    }
    .img p{
        position: absolute;
        top: 47%;
        left: 43%;
        transform: translate(-50%, -50%);
        background-color: black;
        padding: 0px;
    }
    .img h2{
   
       position: absolute;
        top: 26px;
        left: 32px;
        /* transform: translate(0%, -113%); */
    }
    /* .welcome-section > p {
        font-size: 2rem;
        font-weight: 200;
        font-style: italic;
      } */
}
@media screen and (min-width: 375px){
    .nav-list {
        margin: 0 5rem;
      }
    .links ul{
        margin-left: 223px;
        margin-top: -45px;
    } 
    .links p{
        margin-left: 0px;
    } 
    .intro p{
        margin-top: 25px;
        margin-left:128px;
        background-color: none;
    }
    .img p{
        position: absolute;
        top: 47%;
        left: 43%;
        transform: translate(-50%, -50%);
        background-color: black;
        margin-left: auto;
        margin-right: auto;
        
    }
    .img h2{
        position: absolute;
        top: 25px;
        left: 57px;
    }
    /* .welcome-section > p {
        font-size: 2rem;
        font-weight: 200;
        font-style: italic;
      } */
}
@media screen and (min-width: 425px){
    .nav-list {
        margin: 0 8rem;
      }
    .links ul{
        margin-left: 273px;
        margin-top: -45px;
    }  
    .links p{
        margin-left: 0px;
    } 
    .intro p{
        margin-top: 25px;
        margin-left:150px;
        background-color: none;
    }
    .img p{
        position: absolute;
        top: 47%;
        left: 47%;
        transform: translate(-50%, -50%);
        background-color: black;
        margin-left: auto;
        margin-right: auto;
        
    }
    .img h2{
        position: absolute;
        top: 25px;
        left: 76px;
    }
    /* .welcome-section > p {
        font-size: 2rem;
        font-weight: 200;
        font-style: italic;
      } */
}
@media screen and (min-width: 768px){
    .nav-list {
        margin: 0 1rem;
      }
    .links ul{
        margin-left: 191px;
        margin-top: -46px;
    }  
    .links p{
        margin-left: 0px;
    } 
    .intro p{
        margin-top: 25px;
        margin-left:333px;
        background-color: none;
    }
    .img p{
        position: absolute;
        top: 44%;
        left: 52%;
        transform: translate(-50%, -50%);
        background-color: black;
        margin-left: auto;
        margin-right: auto;
        
    }
    .img h2{
        position: absolute;
        top: 25px;
        left: 275px;
    }
     .welcome-section > p {
        font-size: 4rem;
        font-weight: 200; 
        font-style: italic;
      } 
}
@media screen and (min-width: 1024px){
    .nav-list {
        margin: 0 1rem;
      }
    .links ul{
        margin-left: 168px;
        margin-top: -44px;
    }  
    .links p{
        margin-left: 0px;
    } 
    .intro p{
        margin-top: 25px;
        margin-left:457px;
        background-color: none;
    }
    .img p{
        position: absolute;
        top: 47%;
        left: 43%;
        transform: translate(-50%, -50%);
        background-color: green;
        margin-left: auto;
        margin-right: auto;
        
    }
    .img h2{
        position: absolute;
        top: 25px;
        left: 352px;
        background-color: green;
    }
    /* .welcome-section > p {
        font-size: 2rem;
        font-weight: 200;
        font-style: italic;
      } */
}
