body{
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}
.header{
    background-color: #07FF00;
}

li{
    display: inline;
    list-style: none;

}
.hero img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    background-repeat: no-repeat, repeat;
    background-blend-mode: 
}
.img{
    /* position: absolute;
    left: 0px;*/
    
    margin-left: auto;
    margin-right: auto;
}
p{
    margin: 7px;
    color: darkred;
    margin-left: auto;
    margin-right: auto;
}
div{
    margin: auto;
}
h1{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
} 
h2{
    color: white;
}
h3{
    color: blue;
}
a:hover{
    text-decoration: none;
    background-color: white;
}
a{
    color: blue;
}